name: Deploy Main
on:
  release:
    types: [published]
jobs:
    deploy-pypi:
        runs-on: ubuntu-latest
        environment: deployment
        permissions:
          id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
          
        steps:
          - name: Checkout Repository
            uses: actions/checkout@v4

          - name: Install Python
            uses: actions/setup-python@v5
            with:
              python-version: "3.10"

          - name: Install Twine and Build
            run: sudo pip install twine build

          - name: Create the distribution
            run: |
              git fetch --prune --unshallow --tags
              sudo python3 -m build

          - name: Publish package distributions to PyPI
            uses: pypa/gh-action-pypi-publish@release/v1
